public_html/chess/position.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="board">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="element">
          <xs:complexType>
            <xs:choice maxOccurs="8" minOccurs="0">
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="pos"/>
              <xs:element type="xs:string" name="color"/>
              <xs:element type="xs:string" name="element"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

